<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'foodsrch/main.css' %}" />
        <!---<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        -->

        <title>Recipe Find!</title>
    </head>
    <body>
    <!-------------------------------------------------------- Left Side Nav Bar  ----------------------------------------------------------------------->
      <nav id="side_bar" class="navbar">
        <div class="container">
          <div class="wrap-it">
            <button onclick="onToggle()" class="btn btn-primary round-btn">
              <i class="fa fa-bars"></i>
            </button>
          </div>          
        </div>
      </nav>
      <script>
        function onToggle(){

          var side_bar = document.getElementById("side_bar");
          side_bar.classList.add("toggle");
        }
      </script>

    </body>
</html>

<!--<a href="#" class="search_icon"><i class="fas fa-search"></i></a>-->