
body {
  background-color: white;
}

.sidebar-sticky{
  position: -webkit-sticky;
  position: sticky;
  height:100vh !important
}

.cust-color{
  /*background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,145,171,1) 0%, rgba(255,255,255,1) 100%);*/
  background-color: #8c91ab;
  border-right: 1px solid black;
}

.nav-item{
    color:#22313f !important;
    font-size: 16px;
    font-weight: 400;
}

.head-item{
  color:#22313f !important;
  font-size: 17px;
  font-weight: 600;
}

.pageCenter {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}

.navbar {
  height: 100%; 
  width: 13vw; 
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #e30b5d;  
}

.round-btn{
  height: 11vh;
  width:11vh;
  border-radius: 50%;
  background-color: #e30b5d;  
  border: none;
  padding-left: 2rem;
  transition: 0.1s ease;
}


.round-btn:hover{
  padding-left: 3rem;
  background-color: #e30b5d;
}

.wrap-it{
  padding-left:10rem;
}

.fa{
  font-size: 2rem;
}

.toggle{
  animation: hide-bar 0.5s forwards;
}

@keyframes hide-bar{
  from{
    width:11vh;
  }
  to{
    width:0px;
  }
}
